<footer class="site-footer">
  <div class="container footer-contact">
    <div>
      <h3 data-config-text="officialName">Mahatma Jyothiba Phule Telangana Backward Classes Welfare Residential Degree College for Women</h3>
      <p data-config-text="address">Station Ghanpur, Pembarthy, Jangaon, Telangana 506201</p>
      <p>Under <span data-config-text="society">MJPTBCWREIS</span><br>Secretary: <span data-config-text="secretary">B. Saidulu, IFS</span><br><span data-config-text="officeAddress">Masab Tank, Hyderabad</span></p>
    </div>
    <div>
      <h3>OFFICE CONTACT</h3>
      <p><a data-config-href="phone" data-config-text="phone" href="tel:7013310928">+91 7013310928</a></p>
      <p><a data-config-href="email" data-config-text="email" href="mailto:mjptbcwrdcstationghanpurwomen@gmail.com">mjptbcwrdcstationghanpurwomen@gmail.com</a></p>
    </div>
  </div>
  <div class="container copyright"><span>© <span id="year"></span> <span data-config-text="copyrightText">MJPTBCWRDC(W), Station Ghanpur</span></span><a data-config-href="email" data-config-text="email" href="mailto:mjptbcwrdcstationghanpurwomen@gmail.com">mjptbcwrdcstationghanpurwomen@gmail.com</a></div>
</footer>
